.d-searchBy{ position:relative; padding:15px; }
.d-searchBy a[opar="btn"]{ float: left; font-size:16px; font-weight: bold; color: #fff; background: #fb672c; height: 40px; line-height: 40px; padding:0 35px; border-radius: 5px; }
.d-searchBy a[opar="btn"]:hover{ color: #fff; background: #fb5919; }
.d-searchBy a[opar="btn"]:active{ background: #ee5518; }
.d-searchBy .d-search{ float: left; vertical-align: middle; position: relative; overflow: hidden; width: 300px; height: 40px; margin-left:15px;display:inline;  }
.d-searchBy .d-search input{ float: left; width: 219px; height: 38px; border:solid #b2b2b2 1px; border-radius: 3px 0 0 3px; background: #fff;padding:0 10px; border-right: 0; font-size: 14px; }
.d-searchBy .d-search input::placeholder { color: #c2c2c2; }
.d-searchBy .d-search a.a-search{ display: block; overflow: hidden; height: 40px; background: #fb672c url(../images/fdj-ico.png) no-repeat center; border-radius: 0 3px 3px 0; font-size:0; line-height: 0;}
.d-searchBy .d-search a.a-search:hover{ background-color: #fb5919; }
.d-searchBy .d-search a.a-search:active{ background-color: #ee5518; }
.d-searchBy .d-date{ text-align: right; overflow: hidden; vertical-align: middle; padding-right:10px;}
.d-searchBy .d-date em{ display: inline-block; vertical-align: middle; font-size:16px; height:40px; line-height: 40px; }
.d-searchBy .d-date input{ display: inline-block; vertical-align: middle; height: 40px; line-height: 40px; width:90px; font-size:16px;  border:0; caret-color: #fff;}
.d-searchBy .d-date input:nth-of-type(1){ width:120px; background: url(../images/sj-ico.png) no-repeat right center; }

.d-listBox{ position:relative; margin-top:15px;  }
.d-listBox .d-list-header{ position:relative; margin-right:25px; transition: all 0.3s ease; }
.d-listBox .d-lh-item{ float:left; width:11%; text-align: center;    }
.d-listBox .d-lh-item strong{ display: block; font-size:16px; font-weight: bold; line-height: 60px; }
.d-listBox .d-lh-item select{ padding:20px 50px 20px 10px ; font-size:16px; font-weight: bold; }
.d-listBox .d-list-content{ position:relative; overflow: hidden; overflow-y:auto;transition: all 0.3s ease; }
.d-listBox .d-item{ line-height: 60px; padding:5px 0;  }
.d-listBox .d-item span{ float: left; width: 11%; text-align: center; font-size: 14px;  word-break: break-all; word-wrap:break-word; text-overflow:ellipsis; white-space: nowrap; overflow: hidden;}
.d-listBox .d-item span em{ display: block; font-size:14px;  }
.d-listBox .d-item span:nth-of-type(4){ line-height: 20px; padding:10px 0; height: 40px; }
.d-listBox .d-item span:nth-of-type(5){ line-height: 20px; padding:10px 0; height: 40px; }
.d-listBox .d-item:nth-child(odd){ background: #f3f9fd; }
